@model IEnumerable<WebTest.Models.CustomerAccount>

@{
    ViewData["Title"] = "AccountInfo";
}

<h2>Account Information</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Street Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addr_street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addr_city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addr_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addr_zip)
            </td>
        </tr>
}
    </tbody>
</table>
