@model IEnumerable<WebTest.Models.AccountOrder>

@{
    ViewData["Title"] = "AccountOrderHistory";
}

<h2>AccountOrderHistory</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.acc_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.urgency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.acc_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.urgency)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.order_num">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.order_num">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.order_num">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
