@model IEnumerable<WebTest.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                manufacturer
            </th>
            <th>
                price
            </th>
            <th>
                volume
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prod_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.volume)
            </td>
            <td>                
                <a asp-action="AddToCart" asp-route-id="@item.prod_id">Add To Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
