@model IEnumerable<WebTest.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prod_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proirity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.volume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prod_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proirity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volume)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.prod_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.prod_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.prod_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
